.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #fff !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #fff !important;
}

.text_navbar{
  color: #fff;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

.navbar-lateral-ul li{
  list-style-type: none;
  font-size: 18px;
  margin-top: 15px;
  padding-left: 10px;
  height:45px;
  width: 190px;
  margin-left: 20px;
  padding-top: 9px;
}

.navbar-lateral-ul li:hover{
  background-color: #1E1D25;
  border-radius:5px;
}


